- name: Add {{item['name']}} to ansible
  add_host:
    hostname: "{{item['name']}}"
    # This var is required for the etcd installer
    ansible_fqdn: "{{item['name']}}"
    ansible_ssh_host: "{{item['node_egress_ip']}}"
    ansible_ssh_user: "{{ssh_user}}"
    ansible_ssh_private_key_filename: "{{ssh_key_filename}}"

- name: Add {{item['name']}} as a hypervisor (if configured)
  add_host:
    hostname: "{{item['name']}}"
    groups: hypervisors, sf_promethus_exporters
  when: item.get('hypervisor', False)

- name: Add {{item['name']}} as an etcd master (if configured)
  add_host:
    hostname: "{{item['name']}}"
    groups: etcd_master
  when: item.get('etcd_master', False)

- name: Add {{item['name']}} as a network node (if configured, should only be one)
  add_host:
    hostname: "{{item['name']}}"
    groups: network_node, sf_promethus_exporters
  when: item.get('network_node', False)

- name: Add {{item['name']}} as a primary node (if configured, should only be one)
  add_host:
    hostname: "{{item['name']}}"
    groups: primary_node
  when: item.get('primary_node', False)

- name: Record API URL from primary node
  set_fact:
    api_url: "{{item['api_url']}}"
    delegate_to: "localhost"
  when: item.get('primary_node', False)

- name: Add node facts
  set_fact:
    node_name: "{{item['name']}}"
    node_egress_ip: "{{item['node_egress_ip']}}"
    node_egress_nic: "{{item['node_egress_nic']}}"
    node_mesh_ip: "{{item['node_mesh_ip']}}"
    node_mesh_nic: "{{item['node_mesh_nic']}}"
  delegate_to: "{{item['name']}}"
  delegate_facts: true
