# Pinned dependancies of our requirements, locked because of compatability issues
protobuf<4.0.0              # google license: https://github.com/protocolbuffers/protobuf/blob/main/LICENSE
                            # Version 4.21 and greater requires that a different version of protoc be used
                            # than that which etcd3 uses.

fixtures<4.0.1              # apache2
                            # Version 4.0.1 fails to build with "AttributeError: install_layout"

# Our requirements.
pyyaml>=5.1                 # mit
pycdlib                     # lgpl
oslo.concurrency            # apache2
jinja2>=3.1.2               # bsd
setproctitle                # bsd
click>=8.0.0                # bsd
Werkzeug                    # bsd
flask                       # bsd
flask_restful               # bsd
psutil>=5.9.0               # bsd
prometheus_client           # apache2
etcd3                       # apache2
etcd3gw                     # apache2
flask-jwt-extended          # mit
bcrypt                      # apache2
gunicorn                    # mit
pylogrus                    # mit
pydantic                    # mit
python-magic                # mit
flask-request-id-middleware # mit
webargs                     # mit
clingwrap                   # apache2
py-cpuinfo                  # mit
distro                      # apache2
shakenfist-agent            # apache2

# Is difficult to get install working, use system packages instead. On Ubuntu
# those are: libvirt-daemon-system libvirt-dev python3-libvirt
#libvirt-python      # lgpl
