pycdlib             # lgpl
randmac             # mit
oslo.concurrency    # apache2
jinja2              # bsd
sqlalchemy          # mit
alembic             # mit
mysqlclient         # gpl
setproctitle        # bsd
click>=7.1.1        # bsd
prettytable         # bsd
tox                 # mit
flake8              # mit
testtools           # mit
flask               # bsd
flask_restful       # bsd
psutil              # bsd

# Is difficult to get install working, use system packages
libvirt-python      # lgpl
