# A bit vague because we expect this to come from an OS package
psutil>=5.9.0                      # bsd

# Our requirements -- we specify exact versions here and let renovate update
# them for the develop branch as required. Releases never update requirements.
fixtures==4.1.0                    # apache2
PyYAML==6.0.1                      # mit
oslo-concurrency==6.0.0            # apache2
Jinja2==3.1.4                      # bsd
setproctitle==1.3.3                # bsd
click==8.1.7                       # bsd
werkzeug==3.0.3                    # bsd
flask==3.0.3                       # bsd
Flask-RESTful==0.3.10              # bsd
flasgger==0.9.7.1                  # mit
prometheus-client==0.20.0          # apache2
etcd3gw==2.4.0                     # apache2
Flask-JWT-Extended==4.6.0          # mit
bcrypt==4.1.3                      # apache2
gunicorn==21.2.0                   # mit
python-magic==0.4.27               # mit
flask-request-id-middleware==1.1   # mit
webargs==8.4.0                     # mit
clingwrap==1.6.6                   # apache2
py-cpuinfo==9.0.0                  # mit
distro==1.9.0                      # apache2
shakenfist-agent==0.3.18           # apache2
shakenfist-utilities==0.6.9        # apache2
pbr==6.0.0                         # apache2
setuptools==70.2.0                 # mit
symbolicmode==2.0.1                # CC0 1.0 Universal (CC0 1.0) Public Domain Dedication
version-comparison==0.2            # mit
pycdlib==1.14.0                    # lgpl
versions==2.1.2                    # mit
grpcio-tools==1.64.1               # apache2
protobuf==5.27.2                   # bsd

requests==2.32.3                   # apache2
requests-toolbelt==1.0.0           # apache2
chardet==5.2.0                     # lgpl
urllib3==2.2.2                     # mit

# These must move as a set
pydantic==2.8.2                    # mit
pydantic-settings==2.3.4           # mit
pydantic-core==2.20.1              # (indirect dependency)

# Is difficult to get install working, use system packages instead. On Ubuntu
# those are: libvirt-daemon-system libvirt-dev python3-libvirt
#libvirt-python      # lgpl

# Indirect dependencies. We do not track license for these.
aniso8601==9.0.1
annotated-types==0.7.0
anyio==4.4.0
async-extensions==4.0.0
attrs==23.2.0
blinker==1.8.2
coloredlogs==15.0.1
entrypoint==2.0.3
exceptiongroup==1.2.1
executor==23.2
funcs==0.10.1
futurist==3.0.0
grpcio==1.64.1
humanfriendly==10.0
importlib-metadata==8.0.0
iters==0.18.0
itsdangerous==2.2.0
linux-utils==0.7
MarkupSafe==2.1.5
marshmallow==3.21.3
mistune==3.0.2
mixed-methods==1.1.1
named==1.4.2
orderings==1.6.0
property-manager==3.0
psutil==6.0.0
PyJWT==2.8.0
python-dotenv==1.0.1
pytz==2024.1
sniffio==1.3.1
solus==1.2.2
typing-aliases==1.10.1
typing-extensions==4.12.2
verboselogs==1.7
wraps==0.13.0
