coverage            # apache2
testtools           # mit
mock                # bsd
stestr              # apache2
flake8              # mit
tox>3.17            # mit
testtools           # mit
mkdocs              # bsd
mkdocs-material     # mit
