- name: Setup /etc/hosts
  copy:
    content: |
      127.0.0.1 localhost

      # The following lines are desirable for IPv6 capable hosts
      ::1 ip6-localhost ip6-loopback
      fe00::0 ip6-localnet
      ff00::0 ip6-mcastprefix
      ff02::1 ip6-allnodes
      ff02::2 ip6-allrouters
      ff02::3 ip6-allhosts

      {% for svr in groups.hypervisors %}
      {{hostvars[svr]['node_mesh_ip']}}  {{svr}}
      {% endfor %}
      {{hostvars[groups['primary_node'][0]]['node_mesh_ip']}}  sf-primary
    dest: /etc/hosts
    owner: root
    group: root
    mode: u=r,g=r,o=r

- name: Log network and primary node
  debug:
    msg:
      - "Primary node IP is {{hostvars[groups['primary_node'][0]]['node_mesh_ip']}}"
      - "Network node is {{hostvars[groups['network_node'][0]]['node_name']}} with mesh IP {{hostvars[groups['network_node'][0]]['node_mesh_ip']}}"
  run_once: true
