[Unit]
Description=Shaken Fist minimal cloud
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
User=root
Group=root

Environment=SHAKENFIST_NODE_IP="{{node_ip}}"
Environment=SHAKENFIST_NODE_EGRESS_NIC="{{node_egress_nic}}"
Environment=SHAKENFIST_FLOATING_NETWORK="{{floating_network_ipblock}}"
Environment=SHAKENFIST_NETWORK_NODE_IP="{{hostvars['sf-1']['node_ip']}}"

Environment=SHAKENFIST_DB_ROOT_PASSWORD="{{db_root_password}}"
Environment=SHAKENFIST_DB_PASSWORD="{{db_user_password}}"
Environment=SHAKENFIST_SQL_URL="mysql://sf:{{db_user_password}}@{{hostvars['sfdb']['node_ip']}}/sf"

ExecStart=/bin/sh -c 'sf-daemon'

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=sf

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target