[Unit]
Description=Shaken Fist API daemon
After=sf-privexec.service
After=sf-nodelock.service
After=sf-database.service
Before=sf-sentinel-last.service
PartOf=sf.target
ReloadPropagatedFrom=sf.target

[Service]
Type=simple
User=root
Group=root
TimeoutStopSec=30s
SuccessExitStatus=SIGTERM 143
RestartPreventExitStatus=SIGTERM
RuntimeDirectory=sf
RuntimeDirectoryPreserve=yes

EnvironmentFile=/etc/sf/config
ExecStartPre=/bin/sh -c '/srv/shakenfist/venv/bin/sf-ctl verify-config'
ExecStartPre=/bin/sh -c 'rm -f /run/sf/gunicorn.pid'
ExecStart=/bin/sh -c '/srv/shakenfist/venv/bin/gunicorn --workers 5 --bind 0.0.0.0:13000 --log-syslog --log-syslog-prefix sf --timeout 300 --name "sf-api" --pid /run/sf/gunicorn.pid --preload shakenfist.external_api.app:app'

Restart=on-failure
RestartSec=5

[Install]
WantedBy=sf.target
