[Unit]
Description=Shaken Fist minimal cloud
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
User=root
Group=root

Environment=SHAKENFIST_NODE_IP="{{node_ip}}"
Environment=SHAKENFIST_NODE_NAME="{{node_name}}"
Environment=SHAKENFIST_NODE_EGRESS_NIC="{{node_egress_nic}}"
Environment=SHAKENFIST_FLOATING_NETWORK="{{floating_network_ipblock}}"
Environment=SHAKENFIST_NETWORK_NODE_IP="{{hostvars['localhost']['network_node_ip']}}"
Environment=SHAKENFIST_AUTH_SECRET_SEED="{{hostvars['localhost']['auth_secret']}}"

# Cluster tuning.
Environment=SHAKENFIST_RAM_SYSTEM_RESERVATION={{hostvars['localhost']['ram_system_reservation']}}

# Whether we have a local cloud image mirror is controlled by the
# HAS_MIRROR ansible variable. Define HAS_MIRROR with any value to use
# a local mirror, otherwise leave the variable undefined.
{% if HAS_MIRROR is defined %}
Environment=SHAKENFIST_DOWNLOAD_URL_CIRROS="http://sf-1/mirrors/download.cirros-cloud.net/%(vernum)s/cirros-%(vernum)s-x86_64-disk.img"
Environment=SHAKENFIST_DOWNLOAD_URL_UBUNTU="http://sf-1/mirrors/cloud-images.ubuntu.com/%(vername)s/current/%(vername)s-server-cloudimg-amd64.img"
{% endif %}

ExecStart=/bin/sh -c 'sf-daemon'

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
