[Unit]
Description=Shaken Fist minimal cloud
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
User=root
Group=root

Environment=SHAKENFIST_NODE_EGRESS_IP="{{node_egress_ip}}"
Environment=SHAKENFIST_NODE_EGRESS_NIC="{{node_egress_nic}}"
Environment=SHAKENFIST_NODE_MESH_IP="{{node_mesh_ip}}"
Environment=SHAKENFIST_NODE_MESH_NIC="{{node_mesh_nic}}"
Environment=SHAKENFIST_NODE_NAME="{{node_name}}"
Environment=SHAKENFIST_FLOATING_NETWORK="{{floating_network_ipblock}}"
Environment=SHAKENFIST_NETWORK_NODE_IP="{{hostvars['localhost']['network_node_ip']}}"
Environment=SHAKENFIST_AUTH_SECRET_SEED="{{hostvars['localhost']['auth_secret']}}"
Environment=SHAKENFIST_INCLUDE_TRACEBACKS="{{hostvars['localhost']['include_tracebacks']}}"

# Cluster tuning.
Environment=SHAKENFIST_RAM_SYSTEM_RESERVATION={{hostvars['localhost']['ram_system_reservation']}}
Environment=SHAKENFIST_MAX_HYPERVISOR_MTU={{hostvars['localhost']['lowest_mtu']}}
Environment=SHAKENFIST_DNS_SERVER="{{dns_server}}"

{% if http_proxy != '' %}
Environment=SHAKENFIST_HTTP_PROXY_SERVER="{{http_proxy}}"
{% endif %}

ExecStart=/bin/sh -c '/srv/shakenfist/venv/bin/sf-daemon'

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
